

img {
    height: 240px;
    width: 240px;
       float:inline-end
}
 
body {
    background-image:url("ike.jpg");
    background-size: cover; /* Adjust the image size to cover the entire background */
    background-position: center; /* Position the image at the center */
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }

h1 {

    text-align: center;
    text-shadow: 2px 2px 8px #000000;
    font-size: 2.7rem;
    font-family: 'EB Garamond',sans-serif;
    color:#deaf23
}
.titu {
    color:#91D18B
}

h2 {
    text-align: center;
    font-size: 2.1rem;
    color:#e45f9b;
    font-family: 'Caveate Family',sans-serif;
    text-shadow: 2px 2px #4a4747;
}

h3 {
    text-align: center;
    font-family: 'EB Garamond',sans-serif;
    font-size: 0.9rem;
   line-height: .6;    

}

#p {
    text-align: center;
    font-family: 'EB Garamond',sans-serif;
    font-size: 0.9rem;
   line-height: .5;    

}


 * {
    color:	#40513B
 }

.bu h3 {
    font-size: 18px;
    line-height: 1.2;    
}

#ha {
    color:	#48d51d
    text-shadow: 2px 2px #ffffff;
    font-size: 1.3rem;
}

#sun {
    font-size: 1.2rem;
    color:	#440047
    font-family: 'Caveate Family',sans-serif;
    text-align: center;
    
}

.menum {
    padding: 10px;
      background-color:transparent; 
      display: flex;
      gap: 20px;
      flex-direction: row-reverse;
}

.menun {
   padding: 10px;
     background-color:transparent;
     display: flex;
     gap: 20px;
     flex-direction: row-reverse;
}

.menum > a {
    color: #F6C391;
} 

.menun > a {
   color: #000000;
} 

  #meme {
 
        height: 300px;
       width: 250px;
       float:inline-end;
    
  }

  .image-tati {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans&family=Merriweather:ital,wght@1,300&family=Quicksand:wght@500&display=swap" rel="stylesheet">



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Josefin+Sans&family=Pacifico&family=Poppins:wght@200&display=swap" rel="stylesheet">