

img {
    height: 240px;
    width: 240px;
       float:inline-end
}
 
body {
   background-image:url(yellow.jpg) ;
   background-size: 2520px;
   background-repeat: repeat;
    width: 2500;
    height: 3000px;
}

h1 {

    text-align: center;
    text-shadow: 2px 2px 8px #000000;
    font-size: 2.5rem;
    font-family: 'EB Garamond',sans-serif;
    color:rgb(224, 241, 167)
}

h2 {
    text-align: center;
    font-size: 1.9rem;
    font-family: 'Caveate Family',sans-serif;
    text-shadow: 2px 2px #8dd54d;
}

 * {
    color:	#070a43
 }

#ha {
    color: rgb(255, 254, 254);
    text-shadow: 2px 2px #000000;
    font-size: 1.2rem;
}

#sun {
    font-size: 1.2rem;
    color:rgb(126, 170, 92);
    font-family: 'Caveate Family',sans-serif;
    
}

  #meme {
    height: 360px;
    width: 320px;
       float:inline-end
  }

 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans&family=Merriweather:ital,wght@1,300&family=Quicksand:wght@500&display=swap" rel="stylesheet">



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Josefin+Sans&family=Pacifico&family=Poppins:wght@200&display=swap" rel="stylesheet">